@page
@using VinePlus.Web.Pages
@model VinePlus.Web.Pages.Stats.Index

@{
    Layout = "Shared/_Layout";
    ViewData[Keys.Title]     = "Statistics";
    ViewData[Keys.Headings]  = "General statistics";
    ViewData[Keys.Highlight] = MainHighlight.Stats;
}
<div class="mini-heading">Top threads</div>
<div class="userpost-container" >
    <span class="thread-odd thread-item thread-header thread-item-title">Thread</span>
    <span class="thread-odd thread-item thread-header thread-item-posts"># Posts</span>
    @foreach (var (index, threadPosted) in Model.top_threads.Select((t, i) => (i,t))) {
        <span class="@Url.Content($"{Helpers.getThreadRow(index)} thread-item thread-item-title")">
            <span class="thread-tooltip">
                @Html.Raw(threadPosted.thread_name)
            </span>
            <a href="@Url.Content($"/archives/thread/{threadPosted.thread_id}?p=1")">
                @Html.Raw(threadPosted.thread_name)
            </a>
        </span>
        <span class="@Url.Content($"{Helpers.getThreadRow(index)} thread-item thread-item-posts")">
            @threadPosted.last_post_no
        </span>
    }
</div>
<div class="mini-heading">Top users</div>
<div class="user-container" >
<span class="thread-odd thread-item thread-header thread-item-title">User</span>
<span class="thread-odd thread-item thread-header thread-item-posts"># Posts</span>
    @foreach (var (index, threadPosted) in Model.top_users.Select((t, i) => (i,t))) {
        <span class="@Url.Content($"{Helpers.getThreadRow(index)} thread-item thread-item-title")">
            <a href="@Url.Content($"/profile/{threadPosted.username}")">
                @threadPosted.username
            </a>
        </span>
        <span class="@Url.Content($"{Helpers.getThreadRow(index)} thread-item thread-item-posts")">
            @threadPosted.no_posts
        </span>
    }
</div>
<div class="mini-heading">number of threads for each board</div>
<div class="mini-heading">total number of posts</div>
<div class="mini-heading">total number of threads</div>
<div class="mini-heading">link to user stats</div>