@page "{user}/{p=1}"
@using VinePlus.Web.Pages
@model VinePlus.Web.Pages.Stats.Posts

@{
    Layout = "Shared/_Layout";
    ViewData[Keys.Title] = "User Posts";
    ViewData[Keys.Headings]  = "User Posts";
    ViewData[Keys.Highlight] = MainHighlight.Stats;
}

@await Html.PartialAsync("Shared/Components/Navigation", (Model.NavRecord, Model.PageDelegate()))
<div class="userpost-container" >
    <span class="thread-odd thread-item thread-header thread-item-title">Title</span>
    <span class="thread-odd thread-item thread-header thread-item-posts"># Posts</span>
    @foreach (var (index, threadPosted) in Model.Entities.Select((t, i) => (i,t))) {
        <span class="@Url.Content($"{Util.GetThreadRow(index)} thread-item thread-item-title")">
            <span class="thread-tooltip">
                @Html.Raw(threadPosted.thread_text)
            </span>
            <a href="@Url.Content($"/archives/thread/{threadPosted.thread_id}")">
                @Html.Raw(threadPosted.thread_text)
            </a>
        </span>
        <span class="@Url.Content($"{Util.GetThreadRow(index)} thread-item thread-item-posts")">
            @threadPosted.no_posts
        </span>
    }
</div>
@await Html.PartialAsync("Shared/Components/Navigation", (Model.NavRecord, Model.PageDelegate()))
