@page "{user}/{p=1}"
@using ComicVine.API.Pages
@model ComicVine.API.Pages.Profile.Posts

@{
    Layout = "Shared/_ProfileLayout";
    ViewData[Keys.Title]       = $"{Model.UserName}'s Posts";
    ViewData[Keys.Highlight]   = ProfileHighlight.Posts;
    ViewData[Keys.ProfileName] = Model.UserName;
}


@await Html.PartialAsync("Shared/Components/Navigation", (Model.NavRecord, Model.PageDelegate()))
@* @await Html.PartialAsync("Shared/Components/ThreadItems", Model.Entities) *@
<div class="post-container">
    @foreach (var pwt in Model.Entities) {
        <div class="@Util.GetPostClass(pwt.P)">
            <div class="post-thread">
                <a href="@Model.LinkToPost(pwt.P, pwt.T)">
                    @Html.Raw(pwt.T.Thread.Text)
                </a>
            </div>
            <div class="post-title">
                <span class="post-no" id="@pwt.P.PostNo.ToString()">
                    #@pwt.P.PostNo
                </span>
                <span class="post-creator">
                    <a href="@pwt.P.Creator.Link">
                        @pwt.P.Creator.Text
                    </a>
                </span>
                @if (pwt.P.IsEdited) {
                    <span class="post-edited">Edited</span>
                }
            </div>
            <div class="post-content">
                @Html.Raw(pwt.P.Content)
            </div>
            <time class="post-time">@Util.GetDuration(DateTime.Now, pwt.P.Created)</time>
        </div>
    }
</div>
@await Html.PartialAsync("Shared/Components/Navigation", (Model.NavRecord, Model.PageDelegate()))
