@using ComicVine.API.Pages
@model (IEnumerable<Comicvine.Core.Parsers.Thread>, Func<Comicvine.Core.Parsers.Thread,string>)


<div class="thread-container" >
    <span class="thread-odd thread-item thread-header thread-item-title">Title</span>
    <span class="thread-odd thread-item thread-header thread-item-board">Board</span>
    <span class="thread-odd thread-item thread-header thread-item-author">Author</span>
    <span class="thread-odd thread-item thread-header thread-item-posts">Posts</span>
    <span class="thread-odd thread-item thread-header thread-item-views">Views</span>
    @foreach (var (index, thread) in Model.Item1.Select((t, i) => (i,t))) {
        <span class="@Url.Content($"{Util.GetThreadRow(index)} thread-item thread-item-title")">
            <a href="@Url.Content(Model.Item2(thread))">
                @await Html.PartialAsync("Shared/Components/Pin" , thread.IsPinned)
                @await Html.PartialAsync("Shared/Components/Lock", thread.IsLocked)
                @Html.Raw(thread.Thread.Text)
            </a>
            <a class="last-post-no" href="@Url.Content(Model.Item2(thread) + $"&p={thread.LastPostPage}#{thread.LastPostNo}")">
                 »
            </a>
                                                                                          </span>
        <span class="@Url.Content($"{Util.GetThreadRow(index)} thread-item thread-item-board")">
            @Html.Raw(thread.Board.Text)
        </span>
        <span class="@Url.Content($"{Util.GetThreadRow(index)} thread-item thread-item-author")">
            <a href="@thread.Creator.Link">
                @thread.Creator.Text
            </a>
        </span>
        <span class="@Url.Content($"{Util.GetThreadRow(index)} thread-item thread-item-posts")">
            @thread.TotalPosts
        </span>
        <span class="@Url.Content($"{Util.GetThreadRow(index)} thread-item thread-item-views")">
            @thread.TotalView
        </span>
    }
</div>