@using VinePlus.Web.Pages
@model (IEnumerable<ThreadView>, Func<ThreadView,string>)


<div class="thread-container" >
    <span class="thread-odd thread-item thread-header thread-item-title">Title</span>
    <span class="thread-odd thread-item thread-header thread-item-board">Board</span>
    <span class="thread-odd thread-item thread-header thread-item-author">Author</span>
    <span class="thread-odd thread-item thread-header thread-item-posts">Posts</span>
    <span class="thread-odd thread-item thread-header thread-item-views">Views</span>
    @foreach (var (index, thread) in Model.Item1.Select((t, i) => (i,t))) {
        <span class="@Url.Content($"{Helpers.getThreadRow(index)} thread-item thread-item-title")">
            <a class="last-post-no" href="@Url.Content(Model.Item2(thread) + $"&p={thread.last_post_page}#{thread.last_post_no}")">
                 »
            </a>
            <span class="thread-tooltip">
                @thread.thread_name
            </span>
            <a href="@Url.Content(Model.Item2(thread))">
                @await Html.PartialAsync("Shared/Components/Pin" , thread.is_pinned)
                @await Html.PartialAsync("Shared/Components/Lock", thread.is_locked)
                @Html.Raw(thread.thread_name)
            </a>
        </span>
        <span class="@Url.Content($"{Helpers.getThreadRow(index)} thread-item thread-item-board")">
            @Html.Raw(thread.board)
        </span>
        <span class="@Url.Content($"{Helpers.getThreadRow(index)} thread-item thread-item-author")">
            <a href="@thread.creator_link">
                @thread.creator
            </a>
        </span>
        <span class="@Url.Content($"{Helpers.getThreadRow(index)} thread-item thread-item-posts")">
            @thread.total_posts
        </span>
        <span class="@Url.Content($"{Helpers.getThreadRow(index)} thread-item thread-item-views")">
            @thread.total_views
        </span>
    }
</div>