@using ComicVine.API.Pages
@model IEnumerable<PostSummary>

<div class="post-container">
    @foreach (var summary in Model) {
        <div class="@Util.getPostClass(summary.post_is_deleted)">
            <div class="post-thread">
                <a href="/archives/thread/@summary.thread_id#@summary.post_no">
                    @Html.Raw(summary.thread_text)
                </a>
            </div>
            <div class="post-title">
                <span class="post-no" id="@summary.post_no.ToString()">
                    #@summary.post_no
                </span>
                <span class="post-creator">
                    <a href="@summary.post_creator.Link">
                        @summary.post_creator.Text
                    </a>
                </span>
                @if (summary.post_is_edited) {
                    <span class="post-edited">Edited</span>
                }
            </div>
            <div class="post-content">
                @Html.Raw(summary.post_content)
            </div>
            <time class="post-time">@Util.GetDuration(DateTime.Now, summary.post_created)</time>
        </div>
    }
</div>