@using VinePlus.Web.Pages
@model IEnumerable<PostView>

<div class="post-container" >
    @foreach (var post in Model) {
        <div class="@Helpers.getPostClass(post.post_is_deleted)">
            <div class="post-title">
                <span class="post-no" id="@post.post_no.ToString()">
                    <a href="#@(post.post_no)">
                        #@post.post_no  
                    </a>
                </span>
                <span class="post-creator">
                    <a href="@post.post_creator.Link">
                        @post.post_creator.Text
                    </a>
                </span>
                @if (post.post_is_edited) {
                    <span class="post-edited">Edited</span>
                }
            </div>
            <div class="post-content">
                @Html.Raw(post.post_content)
            </div>
            <time class="post-time">@Helpers.getDuration(DateTime.Now, post.post_created)</time>
        </div>
    }
</div>