@using ComicVine.API.Pages
@model IEnumerable<Comicvine.Core.Parsers.Post>

<div class="post-container" >
    @foreach (var post in Model) {
        <div class="@Util.GetPostClass(post)">
            <div class="post-title">
                <span class="post-no" id="@post.PostNo.ToString()">
                    <a href="#@(post.PostNo)">
                        #@post.PostNo
                    </a>
                </span>
                <span class="post-creator">
                    <a href="@post.Creator.Link">
                        @post.Creator.Text
                    </a>
                </span>
                @if (post.IsEdited) {
                    <span class="post-edited">Edited</span>
                }
            </div>
            <div class="post-content">
                @Html.Raw(post.Content)
            </div>
            <time class="post-time">@Util.GetDuration(DateTime.Now, post.Created)</time>
        </div>
    }
</div>