@page "{user}"
@using ComicVine.API.Pages
@model ComicVine.API.Pages.Profile.Index

@{
    Layout = "Shared/_ProfileLayout";
    ViewData[Keys.Title]         = $"{Model.UserName}'s Profile";
    ViewData[Keys.Highlight]     = ProfileHighlight.Main;
    ViewData[Keys.ProfileName]   = Model.UserName;
    ViewData[Keys.ProfileHasBlog] = Model.HasBlog;
    ViewData[Keys.ProfileHasImage] = Model.HasImage;
}

@if (Model.UserProfile != null) {
    <div class="profile-header" style="background-image: url(@Model.UserProfile.BackgroundImage)">
        <div class="profile-content">
            <div class="profile-info">
                <div>
                    <div class="profile-avatar">
                        <img class="avatar" src="@Model.UserProfile.Avatar" alt="users avatar"/>
                    </div>
                </div>
                <div class="profile-desc">
                    <h1 class="profile-h">
                        @Model.UserProfile.UserName
                    </h1>
                    <span class="profile-description">
                        @Html.Raw(Model.UserProfile.Description)
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="profile-main">
        <div class="profile-activity">
            @foreach (var activity in Model.UserProfile.Activities) {
                <div class="activity">
                    @Model.UserName added a new @activity.Type
                </div>
                <time class="activity-time">@activity.Date</time>
            }
        </div> 
        <div class="profile-about">
            <img 
                class="profile-cover" 
                src="@(Model.UserProfile.CoverImage == "" ? Model.FallBackImage : Model.UserProfile.CoverImage)" 
                alt="user's cover image"
            />
            
            <div class="profile-stats">
                <div class="profile-stat-key">
                    Date Joined
                </div>
                <div class="profile-stat-value">
                    @Model.UserProfile.About.DateJoined
                </div>

                <div class="profile-stat-key">
                    Alignment
                </div>
                <div class="profile-stat-value">
                    @Model.UserProfile.About.Alignment
                </div>

               <div class="profile-stat-key">
                    Posts
                </div>
                <div class="profile-stat-value">
                    @Model.UserProfile.Posts
                </div>

                <div class="profile-stat-key">
                    Wiki Points
                </div>
                <div class="profile-stat-value">
                    @Model.UserProfile.WikiPoints
                </div>
                
                 <div class="profile-stat-key">
                    Following
                </div>
                <div class="profile-stat-value">
                    @Model.UserProfile.Following
                </div>

                <div class="profile-stat-key">
                    Followers
                </div>
                <div class="profile-stat-value">
                    @Model.UserProfile.Followers
                </div>
            </div>
        </div> 
    </div>
}
else {
    <div class="profile-error">
        <img 
            alt="profile error image" 
            class="profile-error-img" 
            src="https://images.unsplash.com/photo-1623018035782-b269248df916?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8ZXJyb3J8ZW58MHx8MHx8fDA%3D&w=1000&q=80" 
        />
        <p><b>Oops..</b> Unable to retrieve user profile</p>
    </div>
}